In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("round1_ijcai_18_train_20180301.txt", sep=' ', encoding='utf-8-sig')

# Question 1

In [5]:
df.corr('kendall').sort_values(by="is_trade", ascending=False).head()
#pearson item_sales_level, item_collected_level, user_gender_id
#kendall item_sales_level, user_age_level, item_collected_level
#spearman item_sales_level, user_age_level, item_collected_level

,instance_id,item_id,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,user_id,user_gender_id,...,context_timestamp,context_page_id,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
is_trade,-0.001762,-0.000137,-0.004368,-0.017895,-0.044955,0.032948,0.011385,0.004092,0.000205,0.009348,...,-0.008259,-0.008485,-0.002839,0.000487,-0.018291,0.000506,-0.030091,-0.031313,-0.021880,1.000000
item_sales_level,-0.000560,-0.015677,-0.047069,-0.058567,-0.031361,1.000000,0.720187,0.612623,0.001699,-0.000373,...,0.008571,-0.057634,0.001177,0.343948,0.223591,0.337894,-0.120878,-0.119709,0.084517,0.032948
user_age_level,0.000550,0.000771,-0.043715,0.001707,0.108163,0.019877,-0.002358,0.032881,0.000745,0.151591,...,0.007180,0.014040,-0.014194,-0.014717,0.094292,-0.015429,0.001493,-0.005083,0.110397,0.016413
item_collected_level,0.000047,-0.011149,-0.040559,-0.021950,0.048895,0.720187,1.000000,0.523043,0.002374,-0.005144,...,0.014635,-0.041155,0.023637,0.363725,0.227146,0.361288,-0.030800,-0.029120,0.102878,0.011385
user_gender_id,-0.001757,-0.001980,-0.001824,0.001499,0.010832,-0.000373,-0.005144,-0.007926,0.000293,1.000000,...,0.003559,-0.002772,-0.002316,-0.002915,0.000640,-0.002817,-0.013960,-0.015039,-0.000654,0.009348

# Question 2

In [6]:
df['context_timestamp'] = df['context_timestamp'].apply(lambda x : pd.to_datetime(x, unit='s'))

In [7]:
df1 = df.sort_values(by="context_timestamp", ascending=False)

In [24]:
from datetime import datetime, timedelta
date = df1['context_timestamp'].max()
start_date = date - timedelta(2)

In [67]:
tmp = df[df['context_timestamp'] >= start_date].groupby('item_id').count()
tmp['is_trade'].head()

item_id
696490723789804      3
1097631460775571    16
1637165183538885    12
4055398786868336     1
4255654217639344     3
Name: is_trade, dtype: int64

In [34]:
tmp1 = df[df['context_timestamp'] >= start_date].groupby('item_id').sum()
tmp1['is_trade'].head()

item_id
696490723789804     0.0
1097631460775571    1.0
1637165183538885    0.0
4055398786868336    0.0
4255654217639344    0.0
Name: is_trade, dtype: float64

In [68]:
tmp['historical_conversion_rate'] = tmp1['is_trade'] / tmp['is_trade']
tmp['historical_conversion_rate'].head()

item_id
696490723789804     0.0000
1097631460775571    0.0625
1637165183538885    0.0000
4055398786868336    0.0000
4255654217639344    0.0000
Name: historical_conversion_rate, dtype: float64

In [69]:
tmp.reset_index(level=0, inplace=True)
tmp.head()

,item_id,instance_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,historical_conversion_rate_x,historical_conversion_rate_y,historical_conversion_rate
0,696490723789804,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,0.0000
1,1097631460775571,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,0.0625
2,1637165183538885,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,0.0000
3,4055398786868336,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0000
4,4255654217639344,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,0.0000

In [70]:
df = pd.merge(df, tmp[['historical_conversion_rate', 'item_id']], on='item_id', how='left')

In [71]:
df.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,historical_conversion_rate_x,historical_conversion_rate_y,historical_conversion_rate
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4,1.0,5002,1.0,1.0,1.0,0,0.0,0.0,0.0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4,1.0,5002,1.0,1.0,1.0,0,0.0,0.0,0.0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4,1.0,5002,1.0,1.0,1.0,0,0.0,0.0,0.0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4,1.0,5002,1.0,1.0,1.0,0,0.0,0.0,0.0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4,1.0,5002,1.0,1.0,1.0,0,0.0,0.0,0.0